body{
	text-align:center;
	list-style-position:inside;
	background:linear-gradient(130deg,pink,blue);
	}
.blink

	{animation:colour 0.3s infinite;}
@keyframes colour{0%{color:white;}
				50%{color:orange;}
				100%{color:black;};
	
}
.address
{
	font-family:cursive;
	font-size:30px;
	color:#fff;
	text-shadow:2px 1px 2px #000;
}
div
{
	margin-top:80px;
	
}